body {
  background: #f9f7fe;
}
.weather-app {
  background: white;
  width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
main {
  padding: 30px 0;
}
a {
  color: #885df1;
}
.search-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px;
  font-size: 16px;
}
.search-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.weather-app-details strong {
  color: #f65282;
}
.weather-app-container {
  display: flex;
}
.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
}
.weather-app-icon {
  width: 90px;
  height: 90px;
}
.weather-app-unit {
  margin-top: 30px;
  font-size: 28px;
}
